{% extends 'base.html' %}
{% block title %} Password Change {% endblock %}
{% block content %}
<div class="col-md-12 mx-auto row" style="align-items: center;">
    <form action="{% url 'set_password' user_id=user.id %}" method="post">
        {% csrf_token %}
        <label for="password">Password</label>
        <input type="text" name="password" />

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" />

        <input class=" my-3 submit-btn btn btn-primary" type="submit" />
    </form>
</div>
{% endblock %}